.Rproj.user
.Rhistory
.RData
.Ruserdata
private-data/
input/
R/ignore/
public-data/
output/tidy-mapping-files/
.DS_Store
R/.DS_Store
output/geographic-crosswalks/*.rds
reference/
output/market-comparisons/*.rds
output/hospital-county-patient-data/2017/*.rds